<div id="qm_con_body"><div id="mailContentContainer" class="qmbox qm_con_body_content qqmail_webmail_only">

	<style>
			.qmbox body { line-height: 1.5; }.qmbox p { margin-top: 0px; margin-bottom: 0px; }.qmbox body { font-size: 10.5pt; font-family: 'Microsoft YaHei UI'; color: rgb(0, 0, 0); line-height: 1.5; }
		</style>
	<style type="text/css">
		.qmbox body {border-width:0;margin:0;}
		.qmbox img {border:0;margin:0;padding:0;}
	</style>

	<div>
		<span></span>
		<div>
			<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; line-height: normal;">
				<span lang="EN-US" style="font-size: 14pt; font-family: Calibri, sans-serif; color: rgb(31, 73, 125);">&nbsp;</span>
			</p>
			<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="848" style="font-family: 'Microsoft YaHei UI', Tahoma; width: 636pt; margin-left: -0.75pt; border-collapse: collapse;">
				<tbody>
				<tr style="height: 33.75pt;">
					<td width="848" nowrap="nowrap" colspan="6" style="width: 636pt; border: 1pt solid windowtext; padding: 0cm 5.4pt; height: 33.75pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify; text-indent: 116.55pt;">
							<span lang="EN-US" style="font-size: 18pt;"></span> 【东城贸易】
							日结果汇报表 (3月22日)
						</p>
					</td>
				</tr>
				<tr style="height: 23.25pt;">
					<td width="848" colspan="6" style="width: 636pt; border-style: none solid solid; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; padding: 0cm 5.4pt; height: 23.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 14pt;">姓名<span lang="EN-US">: 苏振辉</span><span lang="EN-US">&nbsp; &nbsp; &nbsp; &nbsp; </span>所在部门<span lang="EN-US">:&nbsp; </span>国际电商IT部<span lang="EN-US">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>岗位<span lang="EN-US">: </span></span><span style="font-size: 19px;">前端工程师</span><span style="font-size: 14pt;"><span lang="EN-US">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size: 10.5pt; font-family: 'Times New Roman', serif;"><o:p></o:p></span>
						</p>
					</td>
				</tr>
				<tr style="height: 19.5pt;">
					<td width="145" style="width: 108.75pt; border-style: none solid solid; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; background-color: rgb(255, 204, 153); padding: 0cm 5.4pt; height: 19.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							日期<span lang="EN-US" style="font-size: 10.5pt; font-family: 'Times New Roman', serif;"><o:p></o:p></span>
						</p>
					</td>
					<td width="178" style="width: 133.25pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; background-color: rgb(255, 204, 153); padding: 0cm 5.4pt; height: 19.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							工作内容<span lang="EN-US" style="font-size: 10.5pt; font-family: 'Times New Roman', serif;"><o:p></o:p></span>
						</p>
					</td>
					<td width="98" style="width: 73.75pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; background-color: rgb(255, 204, 153); padding: 0cm 5.4pt; height: 19.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							客户<span lang="EN-US" style="font-size: 10.5pt; font-family: 'Times New Roman', serif;"><o:p></o:p></span>
						</p>
					</td>
					<td width="156" style="width: 116.95pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; background-color: rgb(255, 204, 153); padding: 0cm 5.4pt; height: 19.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							预期结果<span lang="EN-US" style="font-size: 10.5pt; font-family: 'Times New Roman', serif;"><o:p></o:p></span>
						</p>
					</td>
					<td width="167" style="width: 125.3pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; background-color: rgb(255, 204, 153); padding: 0cm 5.4pt; height: 19.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							完成情况<span lang="EN-US" style="font-size: 10.5pt; font-family: 'Times New Roman', serif;"><o:p></o:p></span>
						</p>
					</td>
					<td width="104" style="width: 78pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; background-color: rgb(255, 204, 153); padding: 0cm 5.4pt; height: 19.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							奖惩情况<span lang="EN-US" style="font-size: 10.5pt; font-family: 'Times New Roman', serif;"><o:p></o:p></span>
						</p>
					</td>
				</tr>
				<tr style="height: 51pt;">
					<td rowspan="4" style="border-style: none solid solid; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; padding: 0cm; height: 51pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体;">
							3月22日结果
						</p>
					</td>
					<td width="178" style="width: 133.25pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-family: 宋体;">
							sda 人员管理模块维护
						</p>
					</td>
					<td width="98" style="width: 73.75pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体;">
							杨祥凯
						</p>
					</td>
					<td width="156" style="width: 116.95pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体;">
							<br>
						</p>
					</td>
					<td width="167" nowrap="nowrap" style="width: 125.3pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体;">
							完成<span lang="EN-US"><o:p></o:p></span>
						</p>
					</td>
					<td width="104" style="width: 78pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体;">
							无<span lang="EN-US"><o:p></o:p></span>
						</p>
					</td>
				</tr>
				<tr style="height: 51pt;">
					<td width="178" style="width: 133.25pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-family: 宋体;">
							sda 库存模块维护
						</p>
					</td>
					<td width="98" style="width: 73.75pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体;">
							杨祥凯
						</p>
					</td>
					<td width="156" style="width: 116.95pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体;">
							<br>
						</p>
					</td>
					<td width="167" nowrap="nowrap" style="width: 125.3pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体;">
							完成<span lang="EN-US"><o:p></o:p></span>
						</p>
					</td>
					<td width="104" style="width: 78pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体;">
							无<span lang="EN-US"><o:p></o:p></span>
						</p>
					</td>
				</tr>
				<tr style="height: 51pt;">
					<td width="178" style="width: 133.25pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体;">
							<span>一周bug汇总</span>
						</p>
					</td>
					<td width="98" style="width: 73.75pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<span style="font-family: 宋体; font-size: 16px;">杨祥凯</span>
					</td>
					<td width="156" style="width: 116.95pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<br>
					</td>
					<td width="167" nowrap="nowrap" style="width: 125.3pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						完成
					</td>
					<td width="104" style="width: 78pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体;">
							无<span lang="EN-US"><o:p></o:p></span>
						</p>
					</td>
				</tr>
				<tr style="height: 51pt;">
					<td width="178" style="width: 133.25pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体;">
							<span>一周bug修复</span>
						</p>
					</td>
					<td width="98" style="width: 73.75pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<span style="font-family: 宋体; font-size: 16px;">杨祥凯</span>
					</td>
					<td width="156" style="width: 116.95pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<br>
					</td>
					<td width="167" nowrap="nowrap" style="width: 125.3pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<span>完成</span>
					</td>
					<td width="104" style="width: 78pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体;">
							无<span lang="EN-US"><o:p></o:p></span>
						</p>
					</td>
				</tr>
				<tr style="height: 51pt;">
					<td width="145" rowspan="3" style="width: 108.75pt; border-style: none solid solid; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体;">
							3月25日计划
						</p>
					</td>
					<td width="178" style="width: 133.25pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-family: 宋体;">
							<span style="font-size: 16px;">sda 补货模块更新内容</span>
						</p>
					</td>
					<td width="98" style="width: 73.75pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体;">
							杨祥凯
						</p>
					</td>
					<td width="156" style="width: 116.95pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-family: 宋体;">
							<br>
						</p>
					</td>
					<td width="167" nowrap="nowrap" style="width: 125.3pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
					</td>
					<td width="104" style="width: 78pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
					</td>
				</tr>
				<tr style="height: 51pt;">
					<td width="178" style="width: 133.25pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体;">
							<span style="font-size: 16px;">sda 补货模块更新内容</span>
						</p>
					</td>
					<td width="98" style="width: 73.75pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<span style="font-family: 宋体; font-size: 16px;">杨祥凯</span>
					</td>
					<td width="156" style="width: 116.95pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<br>
					</td>
					<td width="167" nowrap="nowrap" style="width: 125.3pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
					</td>
					<td width="104" style="width: 78pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
					</td>
				</tr>
				<tr style="height: 51pt;">
					<td width="178" style="width: 133.25pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体;">
							<br>
						</p>
					</td>
					<td width="98" style="width: 73.75pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<span style="font-family: 宋体; font-size: 16px;">杨祥凯</span>
					</td>
					<td width="156" style="width: 116.95pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
						<br>
					</td>
					<td width="167" nowrap="nowrap" style="width: 125.3pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
					</td>
					<td width="104" style="width: 78pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 51pt;">
					</td>
				</tr>
				<tr style="height: 78.75pt;">
					<td width="848" colspan="6" valign="top" style="width: 636pt; border-style: none solid solid; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; padding: 0cm 5.4pt; height: 78.75pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 14pt;">日总结</span><span lang="EN-US" style="font-family: Arial, sans-serif;">:</span>
						</p>
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<br>
						</p>
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
						<span lang="EN-US" style="font-family: Arial, sans-serif;"><span style="color: rgb(0, 0, 0); font-family: 'Arial, sans-serif'; background-color: rgba(0, 0, 0, 0);"><br>
						</span></span>
						</p>
					</td>
				</tr>
				</tbody>
			</table>
			<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; line-height: normal;">
				<span lang="EN-US" style="color: blue;">&nbsp;</span>
			</p>
			<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; line-height: normal;">
				<span lang="EN-US" style="color: blue;">&nbsp;</span>
			</p>
			<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="1584" style="font-family: 'Microsoft YaHei UI', Tahoma; width: 1188pt; margin-left: -0.75pt; border-collapse: collapse;">
				<tbody>
				<tr style="height: 14.25pt;">
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 14.25pt;">
					</td>
				</tr>
				<tr style="height: 23.25pt;">
					<td width="864" colspan="12" style="width: 648pt; border: 1pt solid windowtext; padding: 0cm 5.4pt; height: 23.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<b><u><span style="font-size: 18pt;">东城贸易 </span></u></b>

							<span style="font-size: 18pt;">
								周结果汇报表 （3月18日 -- 3月22日）
							</span>
						</p>
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 23.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 23.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 23.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 23.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 23.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 23.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 23.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 23.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 23.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 23.25pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 23.25pt;">
					</td>
				</tr>
				<tr style="height: 19.5pt;">
					<td width="864" colspan="12" style="width: 648pt; border-style: none solid solid; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; padding: 0cm 5.4pt; height: 19.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 14pt;">姓名<span lang="EN-US">: 苏振辉</span><span lang="EN-US">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>所在部门<span lang="EN-US">:</span></span><span lang="EN-US" style="font-size: 14pt; color: blue;">&nbsp;</span><span style="font-size: 14pt;">电商IT部<span lang="EN-US">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>岗位<span lang="EN-US">: </span></span><span style="font-size: 19px; line-height: 1.5; background-color: window;">前端工程师</span>
						</p>
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 19.5pt;">
					</td>
				</tr>
				<tr style="height: 19.5pt;">
					<td width="864" colspan="12" valign="top" style="width: 648pt; border-style: none solid solid; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; background-color: rgb(255, 204, 153); padding: 0cm 5.4pt; height: 19.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 14pt;">本周重点<span lang="EN-US">: <font color="#1f497d">SD/SDW站点功能开发</font></span></span>
						</p>
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 19.5pt;">
					</td>
				</tr>
				<tr style="height: 14.25pt;">
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 11pt;">日期<span lang="EN-US"><o:p></o:p></span></span>
						</p>
					</td>
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 11pt;">工作内容<span lang="EN-US"><o:p></o:p></span></span>
						</p>
					</td>
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 11pt;">客户<span lang="EN-US"><o:p></o:p></span></span>
						</p>
					</td>
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 11pt;">预期结果<span lang="EN-US"><o:p></o:p></span></span>
						</p>
					</td>
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 11pt;">实际结果<span lang="EN-US"><o:p></o:p></span></span>
						</p>
					</td>
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 11pt;">奖惩情况<span lang="EN-US"><o:p></o:p></span></span>
						</p>
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 14.25pt;">
					</td>
				</tr>
				<tr style="height: 14.25pt;">
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 14.25pt;">
					</td>
				</tr>
				<tr style="height: 13.5pt;">
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; padding: 0cm 5.4pt; height: 13.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 11pt;">本周<span lang="EN-US"><o:p></o:p></span></span>
						</p>
					</td>
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 13.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-family: 宋体; text-align: justify;">
							一周bug汇总
						</p>
					</td>
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 13.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="text-align: start;">杨祥凯</span>
						</p>
					</td>
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 13.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<br>
						</p>
					</td>
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 13.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							完成<span lang="EN-US"><o:p></o:p></span>
						</p>
					</td>
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 13.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							无<span lang="EN-US"><o:p></o:p></span>
						</p>
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 13.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 13.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 13.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 13.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 13.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 13.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 13.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 13.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 13.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 13.5pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 13.5pt;">
					</td>
				</tr>
				<tr style="height: 3.6pt;">
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 3.6pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 3.6pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 3.6pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 3.6pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 3.6pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 3.6pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 3.6pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 3.6pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 3.6pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 3.6pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 3.6pt;">
					</td>
				</tr>
				<tr style="height: 15pt;">
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 11pt;">本周<span lang="EN-US"><o:p></o:p></span></span>
						</p>
					</td>
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-family: 宋体; text-align: justify;">
							一周bug修复
						</p>
					</td>
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="text-align: start;">杨祥凯</span>
						</p>
					</td>
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<br>
						</p>
					</td>
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							完成<span lang="EN-US"><o:p></o:p></span>
						</p>
					</td>
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span lang="EN-US" style="font-size: 10.5pt; font-family: 'Times New Roman', serif;">&nbsp;</span>无<span lang="EN-US" style="font-size: 10.5pt; font-family: 'Times New Roman', serif;"><o:p></o:p></span>
						</p>
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 15pt;">
					</td>
				</tr>
				<tr style="height: 15pt;">
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 11pt;">本周<span lang="EN-US"><o:p></o:p></span></span>
						</p>
					</td>
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-family: 宋体; text-align: justify;">
							下周计划整理
						</p>
					</td>
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="text-align: start;">杨祥凯</span>
						</p>
					</td>
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<br>
						</p>
					</td>
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							完成<span lang="EN-US"><o:p></o:p></span>
						</p>
					</td>
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							无<span lang="EN-US"><o:p></o:p></span>
						</p>
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 15pt;">
					</td>
				</tr>
				<tr style="height: 19.5pt;">
					<td width="864" colspan="12" valign="top" style="width: 648pt; border-style: none solid solid; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; background-color: rgb(255, 204, 153); padding: 0cm 5.4pt; height: 19.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 14pt;">周结果：无<span lang="EN-US"><o:p></o:p></span></span>
						</p>
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 19.5pt;">
					</td>
				</tr>
				<tr style="height: 15pt;">
					<td width="72" style="width: 54pt; border-style: none none solid; border-bottom-color: windowtext; border-bottom-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体;">
							　<span lang="EN-US"><o:p></o:p></span>
						</p>
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 15pt;">
					</td>
				</tr>

				<tr style="height: 14.25pt;">
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 10.5pt;">　</span><span lang="EN-US" style="font-size: 10.5pt; font-family: 'Times New Roman', serif;"><o:p></o:p></span>
						</p>
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 10.5pt;">　</span><span lang="EN-US" style="font-size: 10.5pt; font-family: 'Times New Roman', serif;"><o:p></o:p></span>
						</p>
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 10.5pt;">　</span><span lang="EN-US" style="font-size: 10.5pt; font-family: 'Times New Roman', serif;"><o:p></o:p></span>
						</p>
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 10.5pt;">　</span><span lang="EN-US" style="font-size: 10.5pt; font-family: 'Times New Roman', serif;"><o:p></o:p></span>
						</p>
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 10.5pt;">　</span><span lang="EN-US" style="font-size: 10.5pt; font-family: 'Times New Roman', serif;"><o:p></o:p></span>
						</p>
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 10.5pt;">　</span><span lang="EN-US" style="font-size: 10.5pt; font-family: 'Times New Roman', serif;"><o:p></o:p></span>
						</p>
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 14.25pt;">
					</td>
				</tr>
				<tr style="height: 14.25pt;">
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 14.25pt;">
					</td>
				</tr>
				<tr style="height: 14.25pt;">
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 14.25pt;">
					</td>
				</tr>
				</tbody>
			</table>
			<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; line-height: normal;">
				<span lang="EN-US" style="font-size: 14pt; color: blue;">&nbsp;</span>
			</p>
			<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="1584" style="font-family: 'Microsoft YaHei UI', Tahoma; width: 1188pt; margin-left: -0.75pt; border-collapse: collapse;">
				<tbody>
				<tr style="height: 14.25pt;">
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 14.25pt;">
					</td>
				</tr>
				<tr style="height: 23.25pt;">
					<td width="864" colspan="12" style="width: 648pt; border: 1pt solid windowtext; padding: 0cm 5.4pt; height: 23.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<b><u><span style="font-size: 18pt;">东城贸易 </span></u></b>

							<span style="font-size: 18pt;">
								周计划汇报表 （3月25日 -- 3月29日）
							</span>
						</p>
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 23.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 23.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 23.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 23.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 23.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 23.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 23.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 23.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 23.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 23.25pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 23.25pt;">
					</td>
				</tr>
				<tr style="height: 19.5pt;">
					<td width="864" colspan="12" style="width: 648pt; border-style: none solid solid; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; padding: 0cm 5.4pt; height: 19.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 14pt;">姓名<span lang="EN-US">: 苏振辉</span><span lang="EN-US">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>所在部门<span lang="EN-US">:</span></span><span lang="EN-US" style="font-size: 14pt; color: blue;">&nbsp;</span><span style="font-size: 14pt;">电商IT部<span lang="EN-US">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>岗位<span lang="EN-US">: </span></span><span style="font-size: 19px; line-height: 1.5; background-color: window;">前端工程师</span>
						</p>
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 19.5pt;">
					</td>
				</tr>
				<tr style="height: 19.5pt;">
					<td width="864" colspan="12" valign="top" style="width: 648pt; border-style: none solid solid; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; background-color: rgb(255, 204, 153); padding: 0cm 5.4pt; height: 19.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 14pt;">下周重点<span lang="EN-US">: <font color="#1f497d">SD/SDW站点功能开发</font></span></span>
						</p>
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 19.5pt;">
					</td>
				</tr>
				<tr style="height: 14.25pt;">
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 11pt;">日期<span lang="EN-US"><o:p></o:p></span></span>
						</p>
					</td>
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 11pt;">工作内容<span lang="EN-US"><o:p></o:p></span></span>
						</p>
					</td>
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 11pt;">客户<span lang="EN-US"><o:p></o:p></span></span>
						</p>
					</td>
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 11pt;">预期结果<span lang="EN-US"><o:p></o:p></span></span>
						</p>
					</td>
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 11pt;">实际结果<span lang="EN-US"><o:p></o:p></span></span>
						</p>
					</td>
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 11pt;">奖惩情况<span lang="EN-US"><o:p></o:p></span></span>
						</p>
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 14.25pt;">
					</td>
				</tr>
				<tr style="height: 14.25pt;">
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 14.25pt;">
					</td>
				</tr>
				<tr style="height: 13.5pt;">
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; padding: 0cm 5.4pt; height: 13.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 11pt;">下周<span lang="EN-US"><o:p></o:p></span></span>
						</p>
					</td>
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 13.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-family: 宋体; text-align: justify;">
							上周汇总的bug统一进行修复
						</p>
					</td>
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 13.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="text-align: start;">杨祥凯</span>
						</p>
					</td>
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 13.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<br>
						</p>
					</td>
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 13.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span lang="EN-US"><o:p></o:p></span>
						</p>
					</td>
					<td width="144" colspan="2" rowspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 13.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span lang="EN-US"><o:p></o:p></span>
						</p>
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 13.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 13.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 13.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 13.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 13.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 13.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 13.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 13.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 13.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 13.5pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 13.5pt;">
					</td>
				</tr>
				<tr style="height: 3.6pt;">
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 3.6pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 3.6pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 3.6pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 3.6pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 3.6pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 3.6pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 3.6pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 3.6pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 3.6pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 3.6pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 3.6pt;">
					</td>
				</tr>
				<tr style="height: 15pt;">
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 11pt;">下周<span lang="EN-US"><o:p></o:p></span></span>
						</p>
					</td>
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-family: 宋体; text-align: justify;">
							完成当周的bug收集
						</p>
					</td>
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="text-align: start;">杨祥凯</span>
						</p>
					</td>
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<br>
						</p>
					</td>
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span lang="EN-US"><o:p></o:p></span>
						</p>
					</td>
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span lang="EN-US" style="font-size: 10.5pt; font-family: 'Times New Roman', serif;">&nbsp;</span><span lang="EN-US" style="font-size: 10.5pt; font-family: 'Times New Roman', serif;"><o:p></o:p></span>
						</p>
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 15pt;">
					</td>
				</tr>
				<tr style="height: 15pt;">
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 11pt;">下周<span lang="EN-US"><o:p></o:p></span></span>
						</p>
					</td>
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-family: 宋体; text-align: justify;">
							根据产品需求，模块开发和项目重构
						</p>
					</td>
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="text-align: start;">杨祥凯</span>
						</p>
					</td>
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<br>
						</p>
					</td>
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span lang="EN-US"><o:p></o:p></span>
						</p>
					</td>
					<td width="144" colspan="2" style="width: 108pt; border-style: none solid solid none; border-bottom-color: windowtext; border-bottom-width: 1pt; border-right-color: windowtext; border-right-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span lang="EN-US"><o:p></o:p></span>
						</p>
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 15pt;">
					</td>
				</tr>
				<tr style="height: 19.5pt;">
					<td width="864" colspan="12" valign="top" style="width: 648pt; border-style: none solid solid; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; background-color: rgb(255, 204, 153); padding: 0cm 5.4pt; height: 19.5pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 14pt;">周结果：无<span lang="EN-US"><o:p></o:p></span></span>
						</p>
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 19.5pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 19.5pt;">
					</td>
				</tr>
				<tr style="height: 15pt;">
					<td width="72" style="width: 54pt; border-style: none none solid; border-bottom-color: windowtext; border-bottom-width: 1pt; padding: 0cm 5.4pt; height: 15pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体;">
							　<span lang="EN-US"><o:p></o:p></span>
						</p>
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 15pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 15pt;">
					</td>
				</tr>

				<tr style="height: 14.25pt;">
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 10.5pt;">　</span><span lang="EN-US" style="font-size: 10.5pt; font-family: 'Times New Roman', serif;"><o:p></o:p></span>
						</p>
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 10.5pt;">　</span><span lang="EN-US" style="font-size: 10.5pt; font-family: 'Times New Roman', serif;"><o:p></o:p></span>
						</p>
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 10.5pt;">　</span><span lang="EN-US" style="font-size: 10.5pt; font-family: 'Times New Roman', serif;"><o:p></o:p></span>
						</p>
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 10.5pt;">　</span><span lang="EN-US" style="font-size: 10.5pt; font-family: 'Times New Roman', serif;"><o:p></o:p></span>
						</p>
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 10.5pt;">　</span><span lang="EN-US" style="font-size: 10.5pt; font-family: 'Times New Roman', serif;"><o:p></o:p></span>
						</p>
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
						<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; text-align: justify;">
							<span style="font-size: 10.5pt;">　</span><span lang="EN-US" style="font-size: 10.5pt; font-family: 'Times New Roman', serif;"><o:p></o:p></span>
						</p>
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 14.25pt;">
					</td>
				</tr>
				<tr style="height: 14.25pt;">
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" nowrap="nowrap" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="144" nowrap="nowrap" colspan="2" style="width: 108pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 14.25pt;">
					</td>
				</tr>
				<tr style="height: 14.25pt;">
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="72" style="width: 54pt; padding: 0cm 5.4pt; height: 14.25pt;">
					</td>
					<td width="0" style="width: 0.3pt; padding: 0cm; height: 14.25pt;">
					</td>
				</tr>
				</tbody>
			</table>
			<p class="MsoNormal" style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: 宋体; line-height: normal;">
				<span lang="EN-US" style="font-size: 14pt; color: blue;">&nbsp;</span>
			</p>
		</div>
		<div>
			<br>
		</div>
		<hr color="#b5c4df" size="1" align="left" style="width: 210px; height: 1px;">
		<div>
			<div style="position: static !important; margin: 10px; font-family: verdana; font-size: 10pt;">
				<div style="position: static !important;">
					苏振辉
				</div>
			</div>
		</div>
	</div>

	<style type="text/css">.qmbox style, .qmbox script, .qmbox head, .qmbox link, .qmbox meta {display: none !important;}</style></div></div>
